/* Formatação link botão */
*, :after, :before {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Roboto";
}

html, body {
    width: 100%;
    height: 100%;
}

a{
	text-decoration: none;
}

.container{
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

.container{
    width: 85%;
}
/*
@media only screen and (min-width: 1200px) {
	.container {
	    width: 1170px;
	}
}

@media only screen and (min-width: 992px) {
	.container {
		width: 970px;
	}
}
*/
/*  CSS Grid */
.wrapper{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: auto auto;
}

.col-1{
	grid-column: span 1;
}
.col-2{
	grid-column: span 2;
}
.col-3{
	grid-column: span 3;
}
.col-4{
	grid-column: span 4;
}
.col-5{
	grid-column: span 5;
}
.col-6{
	grid-column: span 6;
}
.col-7{
	grid-column: span 7;
}
.col-8{
	grid-column: span 8;
}
.col-9{
	grid-column: span 9;
}
.col-10{
	grid-column: span 10;
}
/*  Fim do CSS Grid */

#menu-superior{
	width: 100%;
	/*background-color: #333;*/
	/*position: fixed;*/
	top: 0;
	letter-spacing: 1px;
}

#menu-superior ul {
	height: 110px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#menu-superior li {
	line-height: 110px;
	float: right;
}

#menu-superior li a {
	display: block;
	color: white;
	margin: 0 20px;
	text-align: center;
	text-decoration: none;
}

#menu-superior li a:hover {
	transition: all 0.25s ease;
 	color: #FB802D;
}

.bg-principal{
    position: absolute;
    top: 0;
    height:100%; width:100%;
    z-index: -1;
    background: url('../img/bg-principal.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

.genero-filme-destaque, .titulo-filme-destaque{
    font-family: 'Montserrat';
    font-weight: 400;
    color: #fff;
    /*position: absolute;*/
    letter-spacing: 0.2px;
}

.genero-filme-destaque{
    margin-top: 130px;
    font-size:1.2em;
}

.titulo-filme-destaque{
    font-size:4em;
}

.icone-trailer{
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    float:left;
    width: 35px;
}

.texto-assitir-trailer{
    line-height: 40px;
    float:left;
}

.texto-assitir-trailer a{
    font-family: "Roboto";
    letter-spacing: 0;
    color: #fff;
}

.texto-assitir-trailer a:hover {
	transition: all 0.25s ease;
 	color: #FB802D;
}

#todos-filmes{
    margin-top: 400px;
    height: 800px;
}

.titulo-secao{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.2px;
    text-align: center;
}

.linha-abaixo-titulo-secao{
    margin: 20px auto;
    background: #FB802D;
    height: 5px;
    width: 80px;
}

.card-filme{
    position: relative;
}

.card-filme:hover{
    cursor: pointer;
    opacity: 0.7;
}

.card-descricao{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 20px;
}

.titulo-card-destaque{
    font-size: 22px;
    font-family: "Roboto";
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.2px;
    text-shadow: 1px 1px #4b4b4b;
}

.card-destaque-1{
    background: url('../img/filmes/star-wars-card.jpg');
    background-size: cover;
    background-position: center;
    height: 485px;
    width: 100%;
}

.assistir-card-destaque a{
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 100;
    color:#fff;
}

.assistir-card-destaque a:hover{
    transition: all 0.25s ease;
    color:#FB802D;
}
/*
    Formatações contato
*/
#conteudo-contato{
    width: 500px;
    height: 500px;
    margin-left: 280px;
}
#conteudo-contato h2{
    padding-top: 10px;
    padding-bottom: 10px;
    padding: center;
    line-height: 2.1em;
}

#conteudo-contato label{
    width: 100px;
    padding: 3px;
    display: inline-block;
}

input[type="text"], select {
    height: 20px;
    width: 350px;
    margin: 5px;
}

#conteudo-contato textarea{
    height: 80px;
    width: 350px;
    margin: 5px;
}

input[type="submit"], select{
    height: 30px;
    width: 80px;
    line-height: 2.1em;
    margin-left: 388px;
    border: 1px solid #FAFAFA;
    background-color: #FAFAFA;
}

input[type="submit"]:hover{
    color:#FB802D;
}
.fundo-contato{
    background: #fff;
}
