/*  Estilos globais */
*, :after, :before {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Roboto";
}

html, body {
    width: 100%;
    height: 100%;
}

a{
	text-decoration: none;
}

.container{
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

.container{
    width: 85%;
}

.wrapper{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: auto auto;
}

.col-1{
	grid-column: span 1;
}
.col-2{
	grid-column: span 2;
}
.col-3{
	grid-column: span 3;
}
.col-4{
	grid-column: span 4;
}
.col-5{
	grid-column: span 5;
}
.col-6{
	grid-column: span 6;
}
.col-7{
	grid-column: span 7;
}
.col-8{
	grid-column: span 8;
}
.col-9{
	grid-column: span 9;
}
.col-10{
	grid-column: span 10;
}

#rodape{
    padding: 40px 0 30px 0;
    background: #000;
    text-align: center;
}

#rodape .titulo-secao{
    text-align: left;
}

#rodape a{
    color: #a9a9a9;
}

#rodape a:hover{
    transition: all 0.25s ease;
 	color: #FB802D;
}

#rodape .titulo-secao span{
    color: #fff;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.2px;
}

.item-menu-rodape{
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
}

.text-sobre-rodape{
    color: #a9a9a9;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: justify;
}

#rodape .linha-abaixo-titulo-secao{
    margin: 10px 0 20px 0;
    background: #FB802D;
    height: 3px;
    width: 80px;
}

.linha-creditos{
    height: 1px;
    width: 100%;
    background: #6f6f6f;
    margin: 40px auto 30px auto;
}

.creditos{
    color: #a9a9a9;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: center;
}

/*  Estilos globais */

/* Página Principal */

#menu-superior{
	width: 100%;
	top: 0;
	letter-spacing: 1px;
}

#menu-superior ul {
	height: 110px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#menu-superior li {
	line-height: 110px;
	float: right;
}

#menu-superior li a {
	display: block;
	color: white;
	margin: 0 20px;
	text-align: center;
	text-decoration: none;
}

#menu-superior li a:hover {
	transition: all 0.25s ease;
 	color: #FB802D;
}

.bg-principal{
    position: absolute;
    top: 0;
    height:100%; width:100%;
    z-index: -1;
    background: url('../img/bg-principal.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

.genero-filme-destaque, .titulo-filme-destaque{
    font-family: 'Montserrat';
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.2px;
}

.genero-filme-destaque{
    margin-top: 130px;
    font-size:1.2em;
}

.titulo-filme-destaque{
    font-size:4em;
}

.icone-trailer{
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    float:left;
    width: 35px;
}

.texto-assitir-trailer{
    line-height: 40px;
    float:left;
}

.texto-assitir-trailer a{
    font-family: "Roboto";
    letter-spacing: 0;
    color: #fff;
}

.texto-assitir-trailer a:hover {
	transition: all 0.25s ease;
 	color: #FB802D;
}

#todos-filmes{
    margin-top: 360px;
    height: 800px;
}

.titulo-secao{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.2px;
    text-align: center;
}

.linha-abaixo-titulo-secao{
    margin: 20px auto;
    background: #FB802D;
    height: 5px;
    width: 80px;
}

.card-filme{
    position: relative;
}

.card-filme:hover{
    cursor: pointer;
    opacity: 0.7;
}

.card-descricao{
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    padding: 0 15px;
    text-align: center;
}

.titulo-card-destaque{
    font-size: 22px;
    font-family: "Roboto";
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.2px;
    text-shadow: 1px 1px #4b4b4b;
}

.card-destaque-1, .card-destaque-2, .card-destaque-3, .card-destaque-4, .card-destaque-5, .card-destaque-6, .card-destaque-7, .card-destaque-8, .card-destaque-9, .card-destaque-10{
    background-size: cover;
    background-position: center;
    height: 485px;
    width: 100%;
}

.card-destaque-1{
    background-image: url('../img/filmes/star-wars-card.jpg');
}

.card-destaque-2{
    background-image: url('../img/filmes/interestelar-card.jpg');
}

.card-destaque-3{
    background-image: url('../img/filmes/vingadores-card.jpg');
}

.card-destaque-4{
    background-image: url('../img/filmes/logan-card.jpg');
}

.card-destaque-5{
    background-image: url('../img/filmes/star-trek-card.jpg');
}

.card-destaque-6{
    background-image: url('../img/filmes/piratas-caribe-card.jpg');
}

.card-destaque-7{
    background-image: url('../img/filmes/a-proposta-card.jpg');
}

.card-destaque-8{
    background-image: url('../img/filmes/barraca-beijo-card.jpg');
}

.card-destaque-9{
    background-image: url('../img/filmes/a-freira-card.jpg');
}

.card-destaque-10{
    background-image: url('../img/filmes/maligno-card.jpg');
}
/* Fim da página principal */

/* Página todos os filmes */

#trailer-destaque{
    position: absolute;
    top: 0;
    height:auto; width:100%;
    z-index: -1;
}

video::-webkit-media-controls {
  display: none;
}

.volume-button{
    float: right;
    border: 1.2px solid rgba(255,255,255,.5);
    border-radius: 50%;
}

.volume-button:hover{
    cursor: pointer;
    border: 1.2px solid rgba(255,255,255,1);
}

.volume-off{
    background-image: url('../img/volume-off.png');
    background-size:contain;
    height: 40px; width: 40px;
}

.volume-on{
    background-image: url('../img/volume-on.png');
    background-size:contain;
    height: 40px; width: 40px;
}

.titulo-trailer-destaque{
    margin-top:380px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 2.5em;
    color: #fff;
    letter-spacing: 0.2px;
}

.texto-selecao-genero, .selecao-filmes{
    float: left;
}

.texto-selecao-genero{
    margin-top: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.4em;
    color: #fff;
    letter-spacing: 0.2px;
    margin-right: 30px;
}

.selecao-filmes{
    margin-top: 15px;
    background: #000;
    font-size: 0.9em;
    height: 35px;
    width: 160px;
    color: #fff;
    border: 1px solid #fff;
}

/* Fim das página todos os filmes */

/* Páginas com detalhes de um filme */

#detalhes-filme{
    margin: 50px 0;
}

.descricao-filme{
    margin-left: 50px;
}

.descricao-filme .wrapper div{
    font-family: "Roboto";
    font-weight: 300;
    text-align: justify;
    margin: 5px 0;
}

.titulo-filme-descricao{
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 2em;
}

.elemento-descricao{
    font-size: 0.9em;
    font-weight: bold;
}

#detalhes-filme .card-filme:hover{
    cursor: default;
    opacity: 1;
}

/* Fim páginas com detalhes de um filme */

/*
    Formatações conteudo
*/
.conteudo{
    width: 500px;
    height: 700px;
    margin-left: 280px;
}
.conteudo h2{
    padding-top: 10px;
    padding-bottom: 10px;
    padding: center;
    line-height: 2.1em;
}

.conteudo h3{
    padding-top: 8px;
    padding-bottom: 0.5px;
    line-height: 1em;
}
.conteudo label{
    width: 100px;
    padding: 3px;
    display: inline-block;
}

input[type="text"], select {
    height: 20px;
    width: 350px;
    margin: 5px;
}
input[type="usuario"],input[type="password"], select {
    height: 20px;
    width: 350px;
    margin: 5px;
}

.conteudo textarea{
    height: 80px;
    width: 350px;
    margin: 5px;
}

.radio{
   margin-left: 40px;
}

input[type="submit"], select, input[type="reset"], select,input[type="button"], select{
    height: 30px;
    width: 80px;
    line-height: 2.1em;
    margin-left: 40px;
    border: 1px solid #FAFAFA;
    background-color: #FAFAFA;
    display: inline-block;
}

input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover{
    color:#FB802D;
}

select{
    height: 20px;
    width: 350px;
    margin: 5px;
}

#teste{
    padding-left: 336px;
    /*text-align: right;*/
}

/*
    Formatações trailers
*/
.titulo-geral{
    color: #fff;
    font-size: 2em;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}
.conteiner-geral{
    margin: 0 auto;
}
.container-trailer{
    width: 600px;
    height: 366px;
    margin-left: 100px;
}

.conteiner-informacoes-trailer{
    height: 200px;
}

.formato-titulo-trailer{
    color: #fff;
    font-size: 2em;
    line-height: 30px;
    margin-left: 100px;
}

.formato-inf{
    color: #fff;
    font-size: 1em;
    line-height: 30px;
    margin-left: 100px;
}

.formato-inf-filme{
    color: #fff;
    margin-left: 100px;
}

.formato-inf-class{
    color: #fff;
    font-size: 0.8em;
    line-height: 18px;
    margin-left: 100px;
    text-indent: justify;
}
hr{
    margin-left: 100px;
}

/*
    Formatacoes musica
*/

.container-inf-musica{
    height: 200px;
    margin-left: 120px;
}

.formato-trilha1{
    color: #fff;
    font-size: 1.2em;
    line-height: 30px;
    text-align: left;
}

.formato-inf-musica1{
    color: #fff;
}

.posicao-musica{
    margin-top: 20px;
}

.formato-imagem1{
    margin-top: 20px;
}

.container-img-sobre{
    margin-top: 20px;
    margin-left: 280px;
}

.inf-sobre{
    margin-top: 55px;
    margin-left: 150px;
}